.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
}

.chart-paper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: auto; 
  margin-top: 20px; 
  height: 80%; 
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}
